.footer{
    background-color:#000000;
    margin-top: 80px;
    padding: 72px 0px 88px;
}
.footer__box{
    padding: 0 40px;
    margin: 0 auto;
    min-width: 1024px;
    max-width: 1920px;
}
.footer__innerbox{
    display: flex;
}
.footer__inner1{
    display:flex;
    flex-direction:column;
    flex: 2;
    justify-content: space-between;
}


.footer__inner1footer > img {
    height: 40px;
    margin-right:16px;
    cursor: pointer;
}

.footer__inner2{
    flex: 1;
}

.footer__inner3{
    flex: 1;

}
.footer__inner2 > h3 ,.footer__inner3 > h3{
    color:white;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    margin-bottom: 24px;
    font-weight: 500;
}
.footer__inner2 > h3:hover ,.footer__inner3 > h3:hover{
    text-decoration: underline;
}
.footer__innerbox2 > hr {
    margin: 40px 0;
    height: 1px;
    background-color: #F6F6F6;
}
.footer__english{
    display: flex;
    align-items: center;
}
.footer__english > .MuiSvgIcon-root{
    margin-right: 5px;

}
.footer__innerbox21{
    display: flex;
    justify-content: space-between;

}
.footer__innerbox2icons{
    display: flex;  
    color: white !important;
}
.footer__innerbox2icons > .MuiSvgIcon-root{

   margin-right: 24px !important;
}
.footer__innerbox2info{
    display: flex;
    /* justify-content: space-between; */
    justify-content:flex-end ;

}
.footer__innerbox2info > h3{
    color: white;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-left: 40px;
    margin-bottom: 16px;
}
.footer__innerbox22{
    display: flex;
    justify-content: flex-end;
}

.footer__innerbox22 > h3{
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; 
    margin-left: 30px;

}

.footer__innerbox22 > h3 > span {
    cursor: pointer;
}
.footer__innerbox22 > h3 > span:hover {
   text-decoration: underline;
}
